In [163]:
import pandas as pd
import numpy as np

In [164]:
import glob
glob.glob("*.csv")

['BL-Flickr-Images-Book.csv',
 'Cleaned_Fortune500_Combined.csv',
 'combined_olympics.csv',
 'combined_olympics_data.csv',
 'damaged_students.csv',
 'fortune500.csv',
 'IRIS.csv',
 'New_books.csv',
 'olympics_part1.csv',
 'olympics_part2.csv',
 'olympics_part3.csv',
 'Results_Combine_Summary.csv',
 'scores.csv',
 'students.csv',
 'Takemura+country_no_index.csv',
 'Takemura+country_with_index.csv',
 'us_tourism.csv',
 'us_tourism2damage-1 (1).csv',
 'us_tourism2damage-1.csv']

## Dropping unnecessary columns

In [166]:
df = pd.read_csv('BL-Flickr-Images-Book.csv')
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [167]:
df.columns

Index(['Identifier', 'Edition Statement', 'Place of Publication',
       'Date of Publication', 'Publisher', 'Title', 'Author', 'Contributors',
       'Corporate Author', 'Corporate Contributors', 'Former owner',
       'Engraver', 'Issuance type', 'Flickr URL', 'Shelfmarks'],
      dtype='object')

In [168]:
to_drop = ['Edition Statement',
           'Corporate Author',
           'Corporate Contributors',
           'Former owner',
           'Engraver',
           'Contributors',
           'Issuance type',
           'Shelfmarks']

#Please drop the to_drop columns from dataframe
#Your code:

df.drop(to_drop, inplace= True, axis=1)
df.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

## Setting the index of the dataset

In [170]:
#Your code:
df.set_index('Identifier', inplace=True)
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

## Cleaning columns using the `.apply` function

### Simple Demo

In [173]:
# Sample DataFrame
data_df = pd.DataFrame({
    'column1': [1, 2, 3],
    'column2': [4, 5, 6],
    'column3': [7, 8, 9],
    'column4': [10, 11, 12]
})
data_df

   column1  column2  column3  column4
0        1        4        7       10
1        2        5        8       11
2        3        6        9       12

In [174]:
def process_row(row):
    # Example transformation: create a new value based on existing columns
    # Your code:
    row['int_column']=int(row['column1'])+int(row['column2'])
    row['string_column']=str(row['column3'])+'_'+ str(row['column4'])
    # Return the modified row
    return row
    
# Apply the function to each row
# Your code:
data_New=data_df.apply(process_row, axis=1)
# Display the transformed DataFrame
data_New

   column1  column2  column3  column4  int_column string_column
0        1        4        7       10           5          7_10
1        2        5        8       11           7          8_11
2        3        6        9       12           9          9_12

### Handle BL-Flickr-Images-Book.csv data

In [176]:
Title_to_string = df.Title.to_list()
Ut = Title_to_string[:10]
Ut

['Walter Forbes. [A novel.] By A. A',
 'All for Greed. [A novel. The dedication signed: A. A. A., i.e. Marie Pauline Rose, Baroness Blaze de Bury.]',
 'Love the Avenger. By the author of “All for Greed.” [The dedication signed: A. A. A., i.e. Marie Pauline Rose, Baroness Blaze de Bury.]',
 'Welsh Sketches, chiefly ecclesiastical, to the close of the twelfth century. By the author of “Proposals for Christian Union” (E. S. A. [i.e. Ernest Appleyard])',
 '[The World in which I live, and my place in it. By E. S. A. [i.e. Letitia Willgoss Stone.] Edited by ... J. H. Broome.]',
 '[The World in which I live, and my place in it. By E. S. A. [i.e. Letitia Willgoss Stone.] Edited by ... J. H. Broome.]',
 'Lagonells. By the author of Darmayne (F. E. A. [i.e. Florence Emily Ashley])',
 'The Coming of Spring, and other poems. By J. A. [i.e. J. Andrews.]',
 'A Warning to the inhabitants of England, and London in particular ... By M. A. [i.e. Mary Adams.]',
 'A Satyr against Vertue. (A poem: supposed to be spoken by a Town-Hector. [By John Oldham. The preface signed: T. A.])']

### Book Title
'`Walter Forbes.` [A novel.] By A. A',

 '`All for Greed.` [A novel. The dedication signed: A. A. A., i.e. Marie Pauline Rose, Baroness Blaze de Bury.]',
 
 '`Love the Avenger`. By the author of “All for Greed.” [The dedication signed: A. A. A., i.e. Marie Pauline Rose, Baroness Blaze de Bury.]',
 
 '`Welsh Sketches, chiefly ecclesiastical, to the close of the twelfth century`. By the author of “Proposals for Christian Union” (E. S. A. [i.e. Ernest Appleyard])',
 
 '[`The World in which I live, and my place in it.` By E. S. A. [i.e. Letitia Willgoss Stone.] Edited by ... J. H. Broome.]',
 
 '[`The World in which I live, and my place in it.` By E. S. A. [i.e. Letitia Willgoss Stone.] Edited by ... J. H. Broome.]',
 
 '`Lagonells.` By the author of Darmayne (F. E. A. [i.e. Florence Emily Ashley])',
 
 '`The Coming of Spring, and other poems.` By J. A. [i.e. J. Andrews.]',
 
 '`A Warning to the inhabitants of England, and London in particular ... ` By M. A. [i.e. Mary Adams.]',
 
 '`A Satyr against Vertue. (A poem: supposed to be spoken by a Town-Hector. `[By John Oldham. The preface signed: T. A.])'

### Please clean up the book title and save the results to a new dataframe table

In [179]:
def clean_title(title):
    
    if title == 'nan':
        return 'NaN'
    
    if title[0] == '[':
        title = title[1: title.find(']')]
        
    if 'by' in title:
        title = title[:title.find('by')]
    elif 'By' in title:
        title = title[:title.find('By')]
        
    if '[' in title:
        title = title[:title.find('[')]

    return title

#Get the clean title
df['Title'] = df['Title'].apply(clean_title)
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes.,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed.,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger.,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"The World in which I live, and my place in it.","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

## Using `.str`,  `np.where` methods to clean columns

### Simple demo

In [182]:
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

numpy.where(condition, [x, y, ]/)
When only condition is provided, this function is a shorthand for np.asarray(condition).nonzero(). Using nonzero directly should be preferred, as it behaves correctly for subclasses. The rest of this documentation covers only the case where all three arguments are provided.

In [184]:
np.where(a < 5, a, 10*a)

array([ 0,  1,  2,  3,  4, 50, 60, 70, 80, 90])

In [185]:
#4157862 and 4159587
df['Place of Publication'].to_list()

['London',
 'London; Virtue & Yorston',
 'London',
 'London',
 'London',
 'London',
 'London',
 'pp. 40. G. Bryan & Co: Oxford, 1898',
 'London]',
 'London',
 'Coventry',
 'Christiania',
 'Firenze',
 'Amsterdam',
 'Savona',
 'London',
 'Paris',
 'Paris',
 'Puerto-Rico',
 'New York',
 'Hull',
 'London',
 'Oxonii',
 'London',
 'London',
 'London',
 'Milano',
 'London',
 'Aberdeen',
 'Wien',
 'Abingdon',
 'Quebec',
 'London',
 'London',
 'Leipzig',
 'pp. 40. W. Cann: Plymouth, [1876?]',
 'London',
 'London',
 'London',
 '1845',
 'London',
 'London',
 'enk',
 'London',
 'Boston',
 'London',
 'Upsaliæ',
 'London',
 'Edinburgh',
 'Yverdon',
 'Londini',
 'St. Petersburg',
 'Berlin',
 'London',
 'London',
 'London',
 'London',
 'Sceaux',
 'London',
 'Coblenz',
 'London',
 'Leipzig',
 'London',
 'London',
 'Carlstad, Stockholm',
 'Carlstad',
 'Boston',
 'Paris',
 'London',
 'London',
 'London',
 'London',
 'London',
 'A. Millar',
 'New York',
 'Allahabad]',
 'London',
 'Stuttgart',
 'London',
 'D. Appleton & Co',
 'London',
 'Санктпетербургъ',
 'London',
 'Paisley',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'Paris',
 'London',
 'Edinburgh',
 'Napoli',
 'London',
 'Ἐν Κερκυρᾳ',
 'London',
 'London',
 'Plymouth',
 'London',
 'Trento',
 'Amsterdam',
 'Heilbronn',
 'Torino',
 'w Krakowie',
 'w Krakowie',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'Boston',
 'London',
 'London',
 'London',
 'London',
 'Edinburgh',
 'Edinburgh',
 'Cambridge, [Mass.]',
 'Wien',
 'London',
 'London',
 'Bombay',
 'Paris',
 'Agen',
 'Edinburgh & London',
 'Edinburgh; John Murray',
 'Edinburgh',
 'New York',
 'Philadelphia',
 'London',
 'Haarlem',
 'Albany',
 'Boston',
 'Philadelphia',
 'Kjøbenhavn',
 'Haderslev',
 'Copenhague',
 'Kiel',
 'Kjøbenhavn',
 'pp. vi. 216. Hatchards: London, 1888',
 'Baltimore',
 'New York',
 'London',
 'New York',
 'London',
 'London',
 'S. Paulo',
 'Londini Gothorum',
 'Mamers',
 'London',
 'London',
 'London',
 'Edinburgh',
 'México',
 'Mexico',
 'Paris',
 'Porto',
 'México',
 'Bruxelles',
 'London',
 'Macerata',
 'London',
 'London',
 'Tours',
 'Tours',
 'London',
 'London',
 'New York',
 'London',
 'Philadelphia',
 'Boston',
 'Edinburgh',
 'New-York',
 'Boston',
 'Baltimore',
 'New York',
 'Edinburgh',
 'London',
 'J. Vincent; London',
 'London',
 'London',
 'New York',
 'London',
 'London',
 'London',
 'New York',
 'Palermo',
 'Santiago',
 'London',
 'London',
 'London',
 'Edinburgh]',
 'Chelmsford',
 'London',
 'London',
 'Barcelona',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'Glasgow',
 'Inverness',
 'London',
 'Jedburgh',
 'London',
 'Westminster',
 'Andover',
 'Lewes',
 'New York',
 'Deventer',
 'Providence',
 'Paris',
 'Paris',
 'London',
 'Frankfurt',
 'Edinburgh & London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'Roma',
 'Pescia',
 'London?]',
 'London',
 'London',
 'London',
 'London',
 'London & New York',
 'London',
 'Exeter',
 'London',
 'London',
 'London',
 'London',
 'Berlin',
 'Edinburgh',
 'London',
 'London',
 'London; Oxford',
 'London',
 'London',
 'Malton',
 'Boston',
 'London',
 'London',
 'London',
 'Great Yarmouth',
 'London',
 'London',
 'Paris',
 'Paris',
 'Milano',
 'Paris',
 'London',
 'London',
 'Paris',
 'Chur',
 'Amsterdam',
 'London',
 'Firenze',
 'Paris',
 'Edinburgh',
 'London',
 'Moulins',
 'Madrid',
 'Toulouse',
 'London',
 'Oxford',
 'London',
 'Berolini',
 'Lipsiae',
 'Paris',
 'London',
 'London',
 'Niort',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'Stockholm',
 'London',
 'London',
 'London',
 'Lipsiae',
 'Paris',
 'Lecco',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'New York, London',
 'Carlisle',
 'London',
 'pp. 64. W. Cann: Plymouth, [1870?]',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'Dieppe',
 'Pest',
 'Dorchester',
 'Jenae',
 'Paris',
 'London',
 'London',
 'Kristiania',
 'London',
 'Edinburgh',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'Salisbury',
 'Meriden, Conn',
 'Leipzig',
 'Paris; Moulins',
 'Trévoux',
 'London',
 'Paris',
 'München',
 'Rouen',
 'Paris',
 'London',
 'London',
 'Paris',
 'London',
 'London',
 'London',
 'enk',
 'enk',
 'Adelaide',
 'Perth',
 'London',
 'London',
 'London',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'London',
 'London',
 'Madrid',
 'Madrid',
 'Montevideo',
 'London',
 'T. C. Newby; London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'pp. 95. Erskine Macdonald: London, 1921',
 'Philadelphia',
 'London',
 'Bath',
 'London',
 'London',
 'London',
 'London',
 'pp. xi. 59. J. Parker & Co.: Oxford, [1900.]',
 'London',
 'London',
 'London',
 'Budapest',
 'Québec',
 'Aberdeen?',
 'London',
 'London',
 'Kolozsvártt',
 'Birmingham',
 'Paris',
 'Baltimore',
 'London',
 'Lee',
 'London',
 'London',
 'London',
 'Bristol',
 'London',
 'Kirkwall',
 'London',
 'Plymouth',
 'London',
 'London',
 'London',
 'Stuttgart',
 'Penzance',
 'Boston',
 'London',
 'Leipzig',
 'Dublin',
 'Ipswich',
 'London',
 'Karlsruhe',
 'London',
 'Bern',
 'Aarau',
 'Leipzig',
 'Bruxelles',
 'Hartford, Conn',
 'Springfield, Mass',
 'Wilno',
 'Vannes',
 'London',
 'Basingstoke',
 'Calcutta',
 'Calcutta',
 'Boston',
 'London',
 'London',
 'Nairn',
 'Liverpool',
 'London',
 'London',
 'Manchester',
 'New York',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'Paris',
 'Jena',
 'London',
 'Phila., Pa',
 'Groningen',
 'Bayonne',
 'Pest',
 'Madrid',
 'Trieste',
 'Philadelphia',
 'London',
 'xxu',
 'London',
 'London',
 'London',
 'London',
 'Barton-upon-Humber',
 'Edinburgh]',
 'London',
 'Edinburgh',
 'Bordeaux',
 'London',
 'London',
 'Paris',
 'London',
 'London',
 'London',
 'Edinburgh; reprinted by B. Dewhirst',
 'Edinburgh',
 'London',
 'Bath',
 'Oxford',
 'London',
 'London',
 'London',
 'London',
 'Saint-Dizier',
 'Philadelphia',
 'Cooperstown, N.Y',
 'New York',
 'Newark, N.J',
 'New-York',
 'London',
 'Albany',
 'Kjøbenhavn',
 'Stockholm',
 'London',
 'London',
 'London',
 'Albany',
 'New York',
 'Budapest',
 'London',
 'London',
 'London',
 'London',
 'London',
 'New-York',
 'London',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'London',
 'London',
 'Pest',
 'London',
 'London',
 'Paris',
 'Boston',
 'London',
 'Leiden',
 'London',
 'Windsor, Vt',
 'London',
 'Paris',
 'Paris',
 'Paris',
 'Leipzig',
 'Paris',
 'London; W. Frederick',
 'Bath',
 'Singapore',
 'London',
 'Edinburgh',
 'Breslau',
 'Cincinnati',
 'Stuttgart',
 'Paris',
 'London',
 'Paris',
 'Strassburg',
 'Tours',
 'Bordeaux',
 'Doncaster',
 'Doncaster',
 'New York',
 'New York',
 'London',
 'Boston',
 'Malton',
 'Bayonne',
 'London',
 'London',
 'London',
 'Springfield, O',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'Bordeaux',
 'Chester',
 'London',
 'Paris',
 'London',
 'London',
 'London',
 'London',
 'Cambridge',
 'Paris',
 'London',
 'London',
 'London',
 'Milano',
 'Wien',
 'Schweinfurt',
 'Kjøbenhavn',
 'Paisley',
 'Berlin',
 'London',
 'Nürnberg',
 'London',
 'Paris',
 'London',
 'London',
 'London',
 'London',
 'London',
 'Winnipeg',
 'London & New York',
 'Paris',
 'Aschaffenburg',
 'London',
 'London',
 'Lübeck',
 'Lübeck',
 'Deventer',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'Belfast',
 'Dover, N.H',
 'London',
 'Belfast',
 'London',
 'pp. xii. 59. Thomas Burleigh: London, 1900',
 'Frederick Warne & Co',
 'London',
 'Auch',
 'Auch',
 'Le Mans',
 'London',
 'Oxford',
 'Paris',
 'London',
 'London',
 'München',
 'Bordeaux',
 'London',
 'Pest',
 'London',
 'Hanover',
 'New York',
 'Edinburgh',
 'New York',
 'London',
 'York',
 'London',
 'London',
 'London',
 'London',
 'Edinburgh',
 'Bruxelles',
 'Paris',
 'London',
 'Wien',
 'London',
 'v Praze',
 'Hagae Comitum',
 'Kraków',
 'Bruges',
 'Москва, 1857-60',
 'Leipzig',
 'Upsaliae',
 'London',
 'London',
 'Leipzig',
 'London',
 'Berlin',
 'Ashtead',
 'London',
 'Manchester',
 'Paris',
 'London',
 'Berlin',
 'Colmar',
 'London',
 'Montevideo',
 'Delhi',
 'London',
 'Paris',
 'Arras',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'New York',
 'London',
 'London',
 'London',
 'London',
 'Mitau',
 'London',
 'London',
 'Richmond, Va',
 'Coblenz',
 'London',
 'London',
 'London',
 'Paris',
 'London',
 'London',
 'Norwich',
 'London',
 'Chester]',
 'London',
 'London',
 'London',
 'Hull',
 'London',
 'London',
 'Gotha',
 'London',
 'London',
 'London',
 'London; F. P. Harper',
 'Vigevano',
 'London',
 'London',
 'Boston',
 'London',
 'Paisley',
 'Rhodes',
 'Kopenhagen',
 'Lyon',
 'Stuttgart',
 'Colmar',
 'London',
 'Washington',
 'Hongkong',
 'pp. 92. Heath Cranton: London, 1919',
 'London',
 'London',
 'London',
 'London',
 'London',
 'Birkenhead',
 'Birmingham',
 'London',
 'Birmingham',
 'Birmingham',
 'Birmingham',
 'Birmingham',
 'Kaiserslautern',
 'Edinburgh',
 'Edinburgh',
 'London]',
 'Brighton',
 'Stockholm',
 'London',
 'London',
 'London',
 'Edinburgh',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'Edinburgh & London',
 'London',
 'Paris',
 'Paris',
 'pp. x. 429. John Murray: London, 1894',
 'Stockholm',
 'London',
 'London',
 'New York',
 'London',
 'London',
 'Oswestry',
 'London',
 'London',
 'London',
 'enk',
 'Amsterdam',
 'Évreux',
 'Bucarest',
 'New York',
 'Paris',
 'London',
 'London',
 'London',
 'Edinburgh',
 'Chicago',
 'Leipzig',
 'London',
 'enk',
 'enk',
 '2 vol. W. Blackwood & Sons: Edinburgh, 1888',
 'London',
 'Paris',
 'New York',
 'New-York',
 'New York',
 'London',
 'Zürich',
 'London',
 'London',
 'Mexico',
 'London',
 'Bristol',
 'London',
 'Göttingen',
 'Leipzig',
 'London',
 'Bodmin',
 'Budapest',
 'London',
 'London',
 'Wien',
 'Leipzig',
 'Innsbruck',
 'Innsbruck',
 'Leipzig',
 'Leeds',
 'Roma',
 'London',
 'London',
 'Paris',
 'С.-Петербургъ',
 'Paris',
 'Montevideo',
 'New York',
 'Dublin',
 'Glasgow',
 'Bombay',
 'Bombay',
 'Southampton',
 'Dublin',
 'Cambridge',
 'London',
 'Paris',
 'Liverpool',
 'Zürich',
 'Paris',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London; G. C. Whitney',
 'London',
 'Philadelphia',
 'London',
 'London',
 'London',
 'London',
 'Paris',
 'London',
 'London',
 'Berlin',
 'Berlin',
 'Châteaudun',
 'Châteaudun',
 'London',
 'Paris',
 'Genève',
 'Namur',
 'Dalbeattie',
 'London',
 'London',
 'London',
 'Berlin',
 'E. Lloyd',
 'Paris',
 'London',
 'London',
 'Brooklyn',
 'Glasgow',
 'Philadelphia',
 'Londra',
 'London',
 'Mexico',
 'Paris',
 'London',
 'London',
 'New York',
 'London',
 'London',
 'London',
 'Fontainebleau',
 'London',
 'London',
 'London',
 'Bournemouth',
 'Bournemouth',
 'Paris',
 'Troyes',
 'Paris',
 'Groton',
 'London',
 'Paris',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'New York',
 'London',
 'London',
 'Maidstone',
 'London',
 'London',
 'Leeds',
 'London',
 'Newcastle-upon-Tyne',
 'Berne & Neuchâtel',
 'Dunedin',
 'Edinburgh',
 'London',
 'New York',
 'London',
 'Chichester',
 'Boston',
 'Paris',
 'London',
 'Edinburgh',
 'Evesham',
 'Winchester',
 'London',
 'London',
 'Leipzig',
 'New York',
 'Berlin',
 'Paris',
 'Lwów',
 'New York',
 'London',
 'London',
 'London',
 'Poole',
 'Bournemouth',
 'Philadelphia',
 'Philadelphia',
 'London',
 'London',
 'London',
 'London',
 'London',
 'Paris',
 'London',
 'Boston, Lincs',
 'Würzburg',
 'Leiden',
 'La Paz',
 'London',
 'London',
 'London',
 'Paris',
 'London',
 'Chicago',
 'London',
 'London',
 'Paris',
 'Paris',
 'Amsterdam',
 'London',
 'London',
 'Paris',
 'London',
 'Tiverton',
 'Aberdeen',
 'London',
 'London',
 'London',
 'H. D. Symonds',
 'London',
 'London',
 'London',
 'Amsterdam',
 'Washington',
 'Bristol; Longmans & Co',
 'Bristol',
 'Bristol',
 'Paris',
 'London',
 'Lisboa',
 'London',
 'London',
 'London',
 'London',
 'New York',
 'Philadelphia',
 'Morrisania',
 'London',
 'Goes',
 'London',
 'London',
 'Paris',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'Dublin',
 'London',
 'London',
 'London',
 'London',
 ...]

In [ ]:
pub = df['Place of Publication']
df['Place of Publication'] = np.where(pub.str.contains('London'), 'London',df['Place of Publication'])
df.head()

## Renaming columns and skipping rows

In [ ]:
olympics_df = pd.read_csv('olympics_part1.csv')
olympics_df.head()

In [ ]:
olympics_part1_df = pd.read_csv('olympics_part1.csv', skiprows = 1, header = 0)
olympics_part1_df.head()

In [ ]:
new_names =  {'Unnamed: 0': 'Country',
              '? Summer': 'Summer Olympics',
              '01 !': 'Gold',
              '02 !': 'Silver',
              '03 !': 'Bronze', }
olympics_part1_df.rename(columns = new_names, inplace = True)
olympics_part1_df

In [ ]:
olympics_part2_df = pd.read_csv('olympics_part2.csv', skiprows = 1, header = 0)
olympics_part2_df.head()

In [ ]:
olympics_part2_df.rename(columns = new_names, inplace = True)
olympics_part2_df

In [ ]:
olympics_part1_df.head()

In [ ]:
olympics_part2_df.head()

### Try to merge to dataframe via .merge

In [ ]:
olympics_part1_df.merge(olympics_part2_df,left_on='Country')

### Merge two tables

In [ ]:
newdf = pd.concat([olympics_part1_df, olympics_part2_df])
newdf

In [ ]:
newdf.reset_index(drop=True, inplace = True)
newdf

### Dataframe Part3

In [ ]:
olympics_df = pd.read_csv('olympics_part3.csv')
olympics_df.head()

In [ ]:
olympics_part3_df = pd.read_csv('olympics_part3.csv', skiprows = 1, header = 0)
olympics_part3_df.head()

In [ ]:
new_names_2 =  {'Unnamed: 0': 'Country',
              '? Winter': 'Winter Olympics',
              '01 !': 'Gold.1',
              '02 !': 'Silver.1',
              '03 !': 'Bronze.1',
              'Total': 'Total.1',
              '? Games': '# Games', 
              '01 !.1': 'Gold.2',
              '02 !.1': 'Silver.2',
              '03 !.1': 'Bronze.2'}

olympics_part3_df.rename(columns = new_names_2, inplace = True)

In [ ]:
olympics_part3_df

In [ ]:
newdf.columns

### Example for .join()
#### DataFrame.join() is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

In [ ]:
newdf.columns

In [ ]:
newdf[['Summer Olympics', 'Gold', 'Silver', 'Bronze', 'Total']].join(olympics_part3_df)

### Example for .merge()
#### DataFrame.merge() is a method for combining the columns of two DataFrames that may have partially identical indexes into a single resulting DataFrame.

### In class Practice: 
1. Please use .merge or .join combine olympics data part1, part2, part3
2. Calculate the total number of accumulated medals of Summer and Winter Games

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
olympics_part1_df=pd.read_csv('olympics_part1.csv', skiprows=1, header=0)

In [ ]:
new_names_1={'Unnamed: 0': 'Country','? Summer': 'Summer Olympics','01 !': 'Gold','02 !': 'Silver','03 !': 'Bronze','Total': 'Total'}
olympics_part1_df.rename(columns=new_names_1, inplace=True)

In [ ]:
olympics_part1_df.rename(columns=new_names_1, inplace=True)

In [ ]:
olympics_part2_df=pd.read_csv('olympics_part2.csv', skiprows=1, header=0)

olympics_part2_df.rename(columns=new_names_1, inplace=True)

In [ ]:
summer_df=pd.concat([olympics_part1_df, olympics_part2_df], ignore_index=True)

In [ ]:
olympics_part3_df=pd.read_csv('olympics_part3.csv', skiprows=1, header=0)

In [ ]:
new_names_2={'Unnamed: 0': 'Country','? Winter': 'Winter Olympics','01 !': 'Gold.1','02 !': 'Silver.1','03 !': 'Bronze.1','Total': 'Total.1','# Games': '# Games','01 !.1': 'Gold.2','02 !.1': 'Silver.2','03 !.1': 'Bronze.2'}

In [ ]:
olympics_part3_df.rename(columns=new_names_2, inplace=True)

In [ ]:
combined_df = summer_df.join(olympics_part3_df.drop(columns='Country'))

In [149]:
combined_df

,Country,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,? Games,Gold.2,Silver.2,Bronze.2
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29
142,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2
143,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1
144,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1
145,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4

In [151]:
combined_df['Total Medals']=(combined_df['Gold'].fillna(0)+combined_df['Silver'].fillna(0)+combined_df['Bronze'].fillna(0)+combined_df['Gold.1'].fillna(0)+combined_df['Silver.1'].fillna(0)+combined_df['Bronze.1'].fillna(0)).astype(int)

In [153]:
combined_df['Total Medals']

0       2
1      15
2      70
3      12
4      12
       ..
141    87
142     3
143     2
144     8
145    17
Name: Total Medals, Length: 146, dtype: int32

### Save to CSV
Please save the complete dataframe to a .csv file and upload your results to GitHub

In [159]:
combined_df.to_csv('combined_olympics.csv', index=False)

In [161]:
combined_df.head()

,Country,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,? Games,Gold.2,Silver.2,Bronze.2,Total Medals
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12